@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/root';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
// @import 'node_modules/bootstrap/scss/images';
// @import 'node_modules/bootstrap/scss/code';
// @import 'node_modules/bootstrap/scss/grid';
// @import 'node_modules/bootstrap/scss/tables';
// @import 'node_modules/bootstrap/scss/forms';
@import 'node_modules/bootstrap/scss/buttons';
// @import 'node_modules/bootstrap/scss/transitions';
// @import 'node_modules/bootstrap/scss/dropdown';
// @import 'node_modules/bootstrap/scss/button-group';
// @import 'node_modules/bootstrap/scss/input-group';
// @import 'node_modules/bootstrap/scss/custom-forms';
// @import 'node_modules/bootstrap/scss/nav';
// @import 'node_modules/bootstrap/scss/navbar';
// @import 'node_modules/bootstrap/scss/card';
// @import 'node_modules/bootstrap/scss/breadcrumb';
// @import 'node_modules/bootstrap/scss/pagination';
// @import 'node_modules/bootstrap/scss/badge';
// @import 'node_modules/bootstrap/scss/jumbotron';
// @import 'node_modules/bootstrap/scss/alert';
// @import 'node_modules/bootstrap/scss/progress';
// @import 'node_modules/bootstrap/scss/media';
// @import 'node_modules/bootstrap/scss/list-group';
// @import 'node_modules/bootstrap/scss/close';
// @import 'node_modules/bootstrap/scss/modal';
// @import 'node_modules/bootstrap/scss/tooltip';
// @import 'node_modules/bootstrap/scss/popover';
// @import 'node_modules/bootstrap/scss/carousel';
@import 'node_modules/bootstrap/scss/utilities';
// @import 'node_modules/bootstrap/scss/print';

.game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background: #324F10 url(../img/bg.jpg) center no-repeat;
    background-size: cover;
    filter: blur(5px);
  }

  &__field {
    display: flex;
    flex-wrap: wrap;
    width: 124px;
    margin: auto;
  }

  &__field-btn {
    width: 30px;
    height: 30px;
    margin: 0 1px 1px 0;
    padding: 0;
    line-height: 28px;
    text-align: center;

    &--track {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.702 14.702'%3E%3Cg fill='%23030104'%3E%3Cpath d='M12.361 10.226L9.408 6.595c-.083-.065-.162-.157-.285-.237a1.137 1.137 0 0 0-.077-.051 1.734 1.734 0 0 0-.331-.179c-.364-.149-.687-.197-1.091-.215-.586-.022-1.009.215-1.392.511a2.161 2.161 0 0 0-.189.171c-.139.139-.189.205-.307.331-.023.022-.023.031-.043.051l-3.216 4.065c-.039.083-.293.537-.293.854 0 .491.023.722.211 1.161.051.123.128.247.2.353.137.197.165.194.25.303.074.095.189.18.289.254.077.06.165.117.251.163.013.005.027.014.041.022.14.07.298.139.46.165l.5.054h.156c.528-.022 1.349-.265 1.816-.393.122-.035.253-.063.384-.095l.849-.105c.417-.025 1.192.143 1.614.265.479.143 1.055.303 1.551.328h.26c.484-.025.935-.2 1.299-.501.471-.386.767-.858.857-1.479.121-.838-.205-1.362-.7-2.021-.039-.052-.071-.095-.111-.144zM13.98 5.119c-.721-.311-1.703.609-2.077 1.472-.373.864-.091 1.816.631 2.129.721.312 1.607-.136 1.98-.999.374-.864.187-2.289-.534-2.602zM9.642 5.357c.951.203 1.918-.556 2.161-1.693.243-1.138-.331-2.821-1.281-3.024-.95-.202-1.916 1.151-2.158 2.289-.244 1.138.328 2.226 1.278 2.428zM5.426 5.416c1.031-.082 1.788-1.15 1.689-2.385C7.017 1.795 5.922.252 4.889.334 3.858.417 3.284 2.092 3.382 3.327c.097 1.236 1.013 2.171 2.044 2.089zM3.296 6.46C3.029 5.403 1.851 4.227.969 4.45.087 4.674-.166 6.211.101 7.267.369 8.324 1.3 9 2.183 8.777c.882-.224 1.381-1.261 1.113-2.317z'/%3E%3C/g%3E%3C/svg%3E ");
      background-position: center;
      background-size: 70% 70%;
      background-repeat: no-repeat;
    }
  }
}
